html, body{
    width:100%;
    border:;
    /*align-content: flex-end;*/
    background-color: #F8F8F8; /*ajustes nuevos*/
    font-family: 'Roboto', sans-serif;
    font-weight:100; 
}
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/*header*/

header {
    background-color: #fff;
    width: 100%;
    height: 135px;
    box-shadow: 0px 5px 10px -5px rgba(0,0,0,0.3);
    position: fixed;
    top: 0;
    z-index: 1;
}

.puntos-disponibles {
    max-width: 1140px;
    margin:auto;
    color: #919191;
    font-weight: 500;
    padding: 25px 0px 5px;
    text-align: right;
}

.linea-superior {
    background-color: #000000;
    width: 1140px;
    margin:auto;
    height:1px;
    margin: auto;
}

.menu {
    width: 1140px;
    margin:auto;
    display:flex;
    /*justify-content: space-between;*/
}

.menu1{
    display:flex;
    width: 570px;
    justify-content: flex-start;
}
.menu2{
    display:flex;
    width: 570px;
    justify-content: flex-end;
}

.logotipo {
    padding: 5px 0px 5px 0px;
}

.foto-de-perfil {
    margin-left: 0px;
    margin-right: opx;
}

.foto-de-perfil img {
    width: 70px;
    padding-top: 5px;
    margin-right: 25px;
}

.menu p {
    padding-top: 30px;
    margin-right: 20px;
    font-weight: 500;
    font-size: 19px;
    color: #919191;
    
}

.catalogo {
    margin-left: 0px;
    /*margin-right: 470px;*/
}

.ver-historial {
    margin-top: 27px;
}

#ver-historial {
    text-decoration: none;
    color: #fff;
    background-color: #bc383a;
    border: 16px none #1C6EA4;
    padding: 5px;
    border-radius: 20px 20px 20px 20px;
    width: 60px;
    height: 60px;
    text-align: center;
    font-size: 10px;   
    font-weight: 400; 
}

.carrito-de-compra {
    padding-top: 13px;
    margin-left: 10px;
}

.cerrar-cesion {
    padding-top: 23px;
    margin-left: 10px;
    margin-right:50px;
}

.cerrar-cesion img{
    max-width:30px;
}

.menu-icon {
    display: none;
}

.linea-inferior {
    background-color: #000000;
    width: 1140px;
    margin:auto;
    height:1px;
}


/*banner principal*/

.banner {
    margin-top: 15px;
    padding-top: 140px;
    margin: auto;
    width: 100%;
    display:flex;
    justify-content:center;
}


/*cuerpo*/

.titulo-catalogo {
    background-color: #bc383a;
    width: 1110px;
    height: 53px;
    margin: auto;
    margin-top: 40px;
    border-radius: 5px 5px 5px 5px;
    display:flex;
    /*justify-content: space-between;*/
}

.titulo-catalogo-parte-izquierda{
    width:50%;
    display:flex;
    justify-content: flex-start;
}

.titulo-catalogo-parte-derecha {
    width:50%;
    display:flex;
    justify-content: flex-end;
}

.titulo-catalogo img {
    width: 35px;
    height: 35px;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 10px;
}

.titulo-catalogo p {
    color: #fff;
    font-weight: 400;
    font-size: 22px;
    padding-top: 14px;
    margin-left: 0px;
}

.titulo-catalogo a img {
    width: 10px;
    height: 10px;
    margin-left: 0px;
    margin-right: 10px;
}

.filtro-ordenar {
    display: flex;
    justify-content: flex-end;
    width: 1110px;
    padding-top: 10px;
    margin:auto;
}

.filtro-ordenar select{
    background-color: #f1f1f1;
    border-radius: 3px;
    border: none;
    font-size: 18px;
    padding: 0 10px;
    color: #5d5d5d;
    width: 200px;
    height: 41px;
}

/* contenedor de productors y filtros*/

.contenedor-productos {
    width: 1110px;
    display:flex;
    justify-content: space-between;
    margin: 0 auto;
    margin-top:10px;
}

/*filtro de busqueda*/

.filtro {
    width: 256px;
    max-width: 256px;
    margin: 0;
    padding: 0;
    
}

.puntos-disponibles-lateral {
    background-color: #F1F1F1;
    color: #919191;
    border-radius: 5px;
    
}

#tienes-para-redimir {
    font-size: 17px;
    font-weight: 400;
    color: #666666;
    padding:13px 0px 10px 20px;
}

#mil-pesos {
    font-size:26px;
    font-weight: 300;
    color: #666666;
    padding:0px 0px 13px 20px;
}

.campo-buscar {
    background-color: #F1F1F1;
    color: #A4A4A4;
    border-radius: 5px;
    margin-top: 20px;
    display:flex;
    justify-content: space-between;
}

.campo-buscar img {
    width:20px;
    height:20px;
    margin: 10px;
}

.campo-buscar input {
    width:200px;
    font-size: 17px;
    outline: none;
    border: none;
    color: #A4A4A4;
    background-color: #F1F1F1;
    padding: 0px 0px 0px 5px; 
}

.boton-buscar a{
    background-color: #bc383a;
    
    height: 41px;
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
    margin-left: 151px;
    padding: 6px 12px 6px 12px;
    text-decoration: none;
    color: #fff;
    border-radius: 5px;
}

.boton-buscar img{
    margin-top: 3px;
    width: 22px;
    height: 22px;
}

.boton-buscar p{
    margin-top: 4px;
    font-weight: 500;
    font-size: 16px;
}

.filtro-productos{
    margin-top: 20px;
}

.Titulo-filtro {
    font-size: 18px;
    font-weight: 700;
    color: #5d5d5d;
    margin-bottom: 5px;
}

.min-max{
    display:flex;
    flex-wrap: wrap;
}

.min-max input {
    width: 70px;
    height: 35px;
    background-color: #f1f1f1;
    border-radius: 3px;
    outline: none;
    border: none;
    padding: 0px 0px 0px 5px;
    margin-right: 10px;
}

.y{
    margin: 5px 10px 0px 0px;
    font-weight: 500;
    color: #5d5d5d;
}

.mil-pesos2 {
    font: size 16px;
    font-weight: 700;
    color: #5d5d5d;
    margin-top: 4px;
}

.boton-filtrar a{
    background-color: #bc383a;
    
    height: 41px;
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
    margin-left: 151px;
    padding: 6px 12px 6px 12px;
    text-decoration: none;
    color: #fff;
    border-radius: 5px;
}

.boton-filtrar img{
    margin-top: 3px;
    width: 22px;
    height: 22px;
}

.boton-filtrar p{
    margin-top: 4px;
    font-weight: 500;
    font-size: 16px;
}

.categorias-de-bono {
    background-color: #f1f1f1;
    border-radius: 5px;
    margin-top: 20px;
    padding-top: 5px;
    padding-bottom: 10px;
}

.categorias-de-bono select{
    background-color: #f1f1f1;
    border-radius: 3px;
    border: none;
    font-size: 18px;
    padding: 0 10px;
    color: #5d5d5d;
    width: 200px;
    height: 41px;
}

.categorias-de-bono a{
    text-decoration: none;
    color: #5d5d5d;
    font-size: 18px;
    font-weight: 400;
    padding: 0px 0px 5px 14px;
}

.categorias{
    display: none;
}

/*cards bonos virtuales*/

.card-bonos-virtuales {
    width: 840px;
    max-width: 840px;
}

.fila {
    display:flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.bono-virtual{
    background-color: #fff; 
    border-radius: 16px; /*tener presente*/
    /*box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.25); */
    box-shadow: 0px 10px 13px -7px #8a8a8a, 5px 5px 15px 5px rgba(133, 133, 133, 0);
    width: 273px;
    height: 415px;
    margin: 0px 0px 0px 0px; 
    transition: all 0.5s ease;
}

.bono-virtual:hover {
    box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0.15);
    /*border: 1px solid #bc383a;*/
}

/*BONO ESPECIAL*/ /*BONO ESPECIAL*/ /*BONO ESPECIAL*/
/*BONO ESPECIAL*/ /*BONO ESPECIAL*/ /*BONO ESPECIAL*/
/*BONO ESPECIAL*/ /*BONO ESPECIAL*/ /*BONO ESPECIAL*/

.bono-virtual-especial{
    background-color: #fff;
    background-image: url(../img/fondo-bono-especial-2.jpg); 
    border-radius: 16px;
    /*box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.25); */
    box-shadow: 0px 10px 13px -7px #ff8800, 5px 5px 15px 5px rgba(133, 133, 133, 0);
    width: 840px;
    height: 290px;
    margin: 0px 0px 0px 0px; 
    transition: all 0.5s ease;
}

.bono-virtual-especial:hover{
    /*box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0.15);*/
    box-shadow: 0px 0px 20px 10px rgba(255, 136, 0, 0.288);
}

.sección-detalles-bono-especial {
    margin-top: 10px;
}

.contenedor-carrusel-especial{
    height: 187px;
    /*overflow: hidden;*/
    border-radius: 15px 15px 0px 0px;
}

.carrusel-especial {
    width: 170px;
    height: 100%;
    position: relative;
}

.carrusel-especial img{
    width: 100%;
    position: absolute;
    left: 640px;
    top: -120px;
    transition: all 0.5s ease;
}

#img-producto{
    opacity: 0;
    width: 200%;
    position: absolute;
    left: 550px;
    top: -120px;
}

.bono-virtual-especial:hover #img-producto{
    opacity: 100;
    width: 200%;
    position: absolute;
    left: 400px;
    top: -120px;
}

/*BONO ESPECIAL*/ /*BONO ESPECIAL*/ /*BONO ESPECIAL*/
/*BONO ESPECIAL*/ /*BONO ESPECIAL*/ /*BONO ESPECIAL*/
/*BONO ESPECIAL*/ /*BONO ESPECIAL*/ /*BONO ESPECIAL*/

#americanino{
    display: none;
}

.contenedor-carrusel{
    height: 198px;
    overflow: hidden;
    border-radius: 15px 15px 0px 0px;
}

.carrusel {
    border-radius: 15px 15px 0px 0px;
    width: 273px;
    max-width: 273px;
    height: 100%;
    position: relative;
}

.tarjeta-carrusel {
    border-radius: 15px 15px 0px 0px; 
    height: 100%;
    position: relative;
}

.tarjeta-carrusel img{
    width: 100%;
    position: absolute;
}

.tag-superior {
    position: absolute;
    left: 10px;
    top: 10px;
    padding: 2px;
    margin-top: 3px;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 9px;
    color: #fff;
    background-color: #FF503A;
    border-radius:5px;
    height:15px;
    box-shadow: 3px 3px 5px 2px rgba(0, 0, 0, 0.25); 
}

#logotipo-xiaomi{
    position: absolute;
    opacity: 100%;
    width: 70px;
    top: 10px;
    left: 10px;
    transition: all 0.3s ease;
}

.sección-detalles-bono {
    /*background-color: #fff;*/
}

.linea-superiorr {
    background-color: #F2F2F2;
    width: 90%;
    margin: auto;
    border-radius: 1px;
    height: 2px;
}

.primera-secion {
    display: flex;
    justify-content: flex-start;
    padding-left: 10px;
    height: 20px;
}

.tag {
    padding: 2px;
    margin-top: 3px;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 9px;
    color: #fff;
    background-color: #FF503A;
    border-radius:5px;
    height:15px;
}

.separador-superior {
    background-color: #2e2e2e;
    width: 1px;
    margin-top: 4px;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 1px;
    height: 13px;
}

.fecha-vencimiento{
    font-family: 'Raleway', sans-serif;
    margin-top: 5px;
    color: #2e2e2e;
    font-size: 10px; 
    font-weight: 300;
}

#descuento{
    background-color: #FF503A;
}

#nuevo{
    background-color: #3154f3;
}

#bono-estrella {
    background-color: #f0711c;
}

#mas-redimido{
    background-color: #fd1f1f;
}


.titulo {
    display:flex;
    height: 55px; 
}

.titulo-bono{
    padding-left: 10px;
    padding-right: 5px;
    height: 55px; 
    margin-bottom: 0;
    font-family: 'Raleway', sans-serif; 
    font-size: 20px; 
    font-weight: 700; 
    color: #2e2e2e; 
}

.titulo-secundario {
    padding-right: 10px; 
    padding-top: 6px; 
    font-family: 'Raleway', sans-serif;
    font-size: 12px;
    font-weight: 700; 
    color: #5d5d5d; 
}

.terminos {
    display:flex;
    padding-bottom: 5px;
}

.terminos img{
    height: 13px;
    margin-left: 10px;
    margin-right: 5px;
}

.terminos p{
    font-family: 'Raleway', sans-serif;
    font-size: 12px;
    font-weight: 500;
    color: #2e2e2e;
}

#termino-desactivado{
    opacity: 0%;
}

.detalle-bono{
    background-color: #f8dede; 
    margin: 10px; 
    padding: 5px; 
    font-family: 'Raleway', sans-serif; 
    text-decoration: none;
    font-weight: 600;
    font-size: 10px; 
    border-radius: 10px;
    color: #686868;
    transition: all 0.3s ease;
    cursor: pointer;
}

.detalle-bono:hover {
    background-color: #bc383a;
    color: #ffffff;
}

.detalle-bono:active {
    background-color: #2e2e2e;
    color: #E0F8EF;
}

.linea-inferiorr {
    background-color: #F2F2F2;
    width: 90%;
    margin: auto;
    border-radius: 1px;
    height: 2px;
    margin-top: 10px;
}

.seccion-valor-y-agregar {
    display:flex;
    justify-content: space-between;
    /*background-color: #fff;*/
    /*background-color: #2e2e2e;*/
    border-radius: 0px 0px 15px 15px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
}

/*BONO ESPECIAL*/ /*BONO ESPECIAL*/ /*BONO ESPECIAL*/
#seccion-valor-y-agregar-especial{
    position: relative;
    top: -110px;
}
/*BONO ESPECIAL*/ /*BONO ESPECIAL*/ /*BONO ESPECIAL*/

.seccion-valor {
    width: 65%;
    
}

.valor-bono{
    font-family: 'Raleway', sans-serif;
    font-weight: 900;
    font-size: 25px; 
    color: #2e2e2e; 
    margin-top: 4px; 
}

.moneda-y-descuento{
    display:flex
}

.moneda-bono { 
    font-family: 'Raleway', sans-serif;
    color: #2e2e2e;
    font-size: 10px; 
    font-weight: 500;
}

.separador {
    background-color: #2e2e2e;
    width: 1px;
    margin-top: 2px;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 1px;
    height: 13px;
}



.valor-original{
    font-family: 'Raleway', sans-serif;
    color: #777777;
    font-size: 14px; 
    font-weight: 300;
}

.seccion-agregar {
    width: 35%;
}

#seccion-agregar-especial{
    width: 18%
}

.boton-agregar a {
    font-family: 'Raleway', sans-serif; 
    margin-top: 8px;
    background-color: #bc383a;
    height: 25px;
    display:flex;
    justify-content: center;
    padding-top: 2px;
    text-decoration: none;
    color: #fff;
    border-radius: 10px; /*ajustes nuevos*/
    transition: all 0.3s ease;
    cursor: pointer;
}

.boton-agregar a:hover {
    background-color: #ce3b27;
}

.boton-agregar a:active {
    background-color: #2e2e2e;
}

.boton-agregar img{
    padding-right: 5px;
    margin-top: 3px;
    height: 16px;  
}

.boton-agregar p{
    font-family: 'Raleway', sans-serif; /*ajustes nuevos*/
    margin-top: 4px;
    font-weight: 600;
    font-size: 13px;
}

/*ATRIBUTOS RESPONSIVOS-ATRIBUTOS RESPONSIVOS*/
/*ATRIBUTOS RESPONSIVOS-ATRIBUTOS RESPONSIVOS*/
/*ATRIBUTOS RESPONSIVOS-ATRIBUTOS RESPONSIVOS*/


@media only screen and (max-width: 1350px){
    /*banner principal*/
    .banner img {
        max-width:100%
    }
}

@media only screen and (max-width: 1147px){
    .puntos-disponibles {
        width: 95%; /*cambio realizado*/
    }
    .menu1{
        width: 500px; /*cambio realizado*/
    }
    .menu2{
        width: 500px; /*cambio realizado*/
    }

    /*cuerpo*/

    .titulo-catalogo {
        width: 95%; /*cambio realizado*/
        margin-top: 1%; /*cambio realizado*/
    }

    .filtro-ordenar {
        width: 95%; /*cambio realizado*/
        padding-top: 1%; /*cambio realizado*/
    }
    
    /* contenedor de productors y filtros*/

    .contenedor-productos {
        width: 95%; /*cambio realizado*/
        margin-top:1%;
    }

    /*filtro de busqueda*/

    .filtro {
        width: 25%; /*cambio realizado*/ 
    }

    /*cards bonos virtuales*/

    .card-bonos-virtuales {
        width: 75%; /*cambio realizado*/
    }

    .bono-virtual{
        width: 33%; /*cambio realizado*/
        margin: 0px 0px 0px 12px; /*cambio realizado*/
    }

    .imagen-bono {
        width: 100%; /*cambio realizado*/
    }

}

@media only screen and (max-width: 840px){
    .card-bonos-virtuales{
        width: 100%;
    }
}

@media only screen and (max-width: 820px){
        header {
        height: 108px; 
    }

    .puntos-disponibles {
        display:none; 
    }

    .linea-superior {
        display:none; 
    }

    .menu {
        width: 100%; 
        justify-content: space-between; 
    }

    .menu1{
        display:flex;
    }
    .menu2{
        display:flex;
    }

    .logotipo {
        padding: 20px 0px 15px 15px; 
    }

    .foto-de-perfil {
        display:none; 
    }

    .menu p {
        display:none; 
    }

    .catalogo {
        margin-left: 0px;
    }

    .ver-historial {
        margin-top: 45px;
    }

    .carrito-de-compra {
        padding-top: 28px;
        margin-left: 10px;
    }

    .cerrar-cesion {
        display:none;
    }

    .menu-icon {
        display: block;
        width: 30px;
        height: 30px;
        margin-right: 40px;
        margin-left: 20px;
        margin-top: 30px;
    }

    .linea-inferior {
        display:none;
    }

    /*banner principal*/
    .banner {
        padding-top: 100px;
    }

    /*cuerpo*/

    .filtro-ordenar {
        width: 95%; 
        padding-top: 1%; 
    }
    
    .filtro-ordenar select{
        width: 100%; 
    }
    
    /* contenedor de productors y filtros*/

    .contenedor-productos {
        width: 95%; 
        display:block; 
        margin-top:1%; 
    }

    /*filtro de busqueda*/

    .filtro {
        width: 100%; 
        max-width: 100%; 
    }
    .campo-buscar {
        display:block; 
        text-align: center;
        margin-top: 1%;
    }

    .campo-buscar img {
        display: none; 
    }

    .campo-buscar input { 
        height:20px;
        margin: 10px;
    }

    .boton-buscar { 
        display: flex;
        justify-content: flex-end;
    }
    .boton-buscar a{
        weight: 100%; 
        max-width: 100%; 
        justify-content: flex-end; 
        margin-top: 1%; 
    }

    .boton-buscar img{
        margin-right: 10px;
    }

    .filtro-productos{
        background-color: #F1F1F1; 
        border-radius: 5px; 
        margin-top: 1%;
    }

    .Titulo-filtro {
        text-align: center; 
        padding-top: 1%; 
    }

    .min-max{
        justify-content:center;
    }

    .min-max input {
        background-color: #fff; 
    }

    .mil-pesos2 {
        text-align: center; 
    }

    .boton-filtrar { 
        display: flex;
        justify-content: flex-end;
    }

    .boton-filtrar a{
        weight: 100%; 
        max-width: 100%;
        justify-content: flex-end; 
        margin-top: 1%; 
    }

    .boton-filtrar img{
        margin-right: 10px; 
    }

    .filtro-categorias{ 
        display: none;
    }
    .categorias-de-bono a{
        display: none;
    }

    .categorias{
        text-align: center; 
        display: block; 
    }

    /*cards bonos virtuales*/

    #bono-desactivado{
        display: none;
    }

    .fila {
        justify-content: center;
    }

    .card-bonos-virtuales {
        width: 100%; 
        margin-top: 1%; 
    }

    .bono-virtual{
        margin: 0px 10px 0px 10px; 
        width: 273px;
        height: 415px;
    }

    .bono-virtual-especial{
        width: 565px; 
    }

    .carrusel-especial img{
        opacity: 100%;
        left: 380px;
        top: -120px;
    }

    #img-producto{
        opacity: 100%;
        left: 150px;
        top: -120px;
    }

    .bono-virtual-especial:hover #img-producto{
        opacity: 100%;
        left: 150px;
        top: -120px;
    }
}

@media only screen and (max-width: 800px){
    /*cards bonos virtuales*/
    .card-bonos-virtuales {
        
    }
    .fila {
        justify-content: center;
    }
}

@media only screen and (max-width: 570px) {

    .fila {
        display: block; 
    }

    .bono-virtual{  
        width: 360px;
        height: 135px;
        margin: auto;
        margin-bottom: 10px;
        margin-top: 10px;
        position: relative;
    }

    #bono-desactivado{
        display: block;
    }

    .contenedor-carrusel{
        width: 100px;
        position: absolute;
    }

    .tarjeta-carrusel img{
        margin-top: 21px;
        width: 100px;
    }

    #logotipo-xiaomi{
        width: 30px;
        top: 0px;
    }

    .sección-detalles-bono {
        position: absolute;
        left: 100px;
        padding-top: 5px;
    }

    .bono-virtual-especial{
        margin: auto;
        width: 273px;
        height: 395px;
    }

    .carrusel-especial img{
        width: 70%;
        opacity: 100%;
        left: 130px;
        top: 0px;
    }

    #img-producto{
        width: 150%;
        opacity: 100%;
        left: 0px;
        top: 60px;
    }
    
    .linea-superiorr{
        display:none;
    }

    .tag{
        padding: 1px 2px;
        font-size: 6px;
        height:10px;
    }

    .separador-superior{
        margin-top: 3px;
        height: 10px;
    }

    .fecha-vencimiento {
        margin-top: 3px;
        font-size: 8px; 
    }

    #primera-secion-sin-info{
        display: none;
    }

    .titulo{
        height: 40px;
    }

    .titulo-bono{
        font-size: 15px;
        height: 40px; 
    }
    
    .titulo-secundario{
        padding-top: 5px; 
        font-size: 10px;
        height: 15px;
    }

    .terminos{
        padding-bottom: 2px;
    }

    .terminos img{
        height: 9px;
        margin-right: 3px;
    }

    .terminos p{
        font-size: 8px;
    }

    .detalle-bono{
        display:none;
        margin: 0px 10px; 
        padding: 2px 5px;
        font-size: 6px;
    }

    .linea-inferiorr{
        display:none;
    }

    .seccion-valor-y-agregar{
        position: absolute;
        width: 260px;
        top: 95px;
        left: 100px;
    }

    .valor-bono{
        font-size: 20px;
    }

    .moneda-bono{
        font-size: 7px;
    }

    .separador{
        margin-top: 1px;
        height: 8px
    }

    .descuento{
        font-size: 7px;
        padding: 0px 3px 0px 3px;
        height: 10px;
    }

    .valor-original{
        font-size: 10px; 
    }

    .seccion-agregar {
        width: 35%;
    }

    .bono-virtual-especial{
        width: 360px;
        height: 235px;
    }

    .bono-virtual-especial:hover #img-producto{
        width: 150%;
        opacity: 100%;
        left: 70px;
        top: -50px;
    }

    .carrusel-especial img{
        width: 70%;
        opacity: 100%;
        left: 220px;
        top: -70px;
    }

    #img-producto{
        width: 150%;
        opacity: 100%;
        left: 70px;
        top: -50px;
    }

    .sección-detalles-bono-especial {
        padding-top: 12px;
    }

    #seccion-valor-y-agregar-especial{
        position: relative;
        top: -100px;
        width: 360px;
        left: 0px;
    }

    #seccion-agregar-especial{
        width: 25%;
    }
    
}



